body {
    margin: 0;
    background-image: url(./background.png);
    height: 100%;
    width: 100%;
}

.opacity {
    position: absolute;
    background-color: black;
    height: 768px;
    width: 1366px;
    opacity: .7;
}

.content {
    position: absolute;
    height: 768px;
    width: 1366px;
}

.logo {
    height: 44px;
    width: 162px;
    margin-top: 49px;
    margin-left: 155px;
    padding-left: 59px;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    line-height: .99;
    float: left;
}

.logo:hover {
    color: #f26522;
    background-image: url(./logo-color.png);
}

.big-size {
    font-size: 29px;
}

.contact-info {
    width: 900px;
    height: 44px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: right;
    margin-top: 57px;
    margin-left: 320px;
}

p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
}

.container-1 {
   float: left;
   margin-left: 157px;
   margin-top: 48px;
   width: 307px;
}

.container-1:hover p {
    color: #f26522;
}

.first-picture {
    width: 307px;
    height: 200px;
    background: linear-gradient(to bottom, #fefefe, #010101);
    padding: 2px;
    box-shadow: 0 10px 10px #010101;
    position: relative;
    overflow: hidden;
}

.info-1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-top: 16px;
    padding-left: 21px;
    background-color: #f26522;
    width: 290px;
    height: 47px;
    top: 139px;
    left: 0;
    margin-top: 139px;
    position: absolute;
    transition: 1s;
    opacity: 0;
}

.big-font {
    font-size: 20px;
}

.right-align {
    text-align: right;
    font-size: 14px;
}

.container-1:hover .info-1 {
    display: block;
    opacity: 1;
    top: 0;
}

.container-2 {
    float: left;
    width: 307px;
    margin-top: 48px;
    margin-left: 69px;
}

.second-picture {
    width: 307px;
    height: 200px;
    background: linear-gradient(to bottom, #fefefe, #010101);
    padding: 2px;
    box-shadow: 0 10px 10px #010101;
    position: relative;
    overflow: hidden;
}

.info-2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-top: 16px;
    padding-left: 21px;
    background-color: #f26522;
    width: 290px;
    height: 47px;
    top: 139px;
    margin-top: 139px;
    position: absolute;
    transition: 1s;
    opacity: 0;
}

.container-2:hover .info-2 {
    display: block;
    opacity: 1;
    top: 0;
}

.container-2:hover p {
    color: #f26522;
}

.container-3 {
    float: left;
    width: 307px;
    margin-top: 48px;
    margin-left: 69px;
}

.third-picture {
    width: 307px;
    height: 200px;
    background: linear-gradient(to bottom, #fefefe, #010101);
    padding: 2px;
    box-shadow: 0 10px 10px #010101;
    position: relative;
    overflow: hidden;
}

.info-3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-top: 16px;
    padding-left: 21px;
    background-color: #f26522;
    width: 290px;
    height: 47px;
    top: 139px;
    left: 0;
    margin-top: 139px;
    position: absolute;
    transition: 1s;
    opacity: 0;
}

.container-3:hover .info-3 {
    display: block;
    opacity: 1;
    top: 0;
}

.container-3:hover p {
    color: #f26522;
}

.container-4 {
    float: left;
    width: 307px;
    margin-left: 157px;
    margin-top: 40px;
 }

.forth-picture {
    width: 307px;
    height: 200px;
    background: linear-gradient(to bottom, #fefefe, #010101);
    padding: 2px;
    box-shadow: 0 10px 10px #010101;
    position: relative;
    overflow: hidden;
}

.info-4 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-top: 16px;
    padding-left: 21px;
    background-color: #f26522;
    width: 290px;
    height: 47px;
    top: 139px;
    left: 0;
    margin-top: 139px;
    position: absolute;
    transition: 1s;
    opacity: 0;
}

.container-4:hover .info-4 {
    display: block;
    opacity: 1;
    top: 0;
}

.container-4:hover p {
    color: #f26522;
}

.container-5 {
    float: left;
    width: 307px;
    margin-left: 69px;
    margin-top: 40px;
 }

.fifth-picture {
    width: 307px;
    height: 200px;
    background: linear-gradient(to bottom, #fefefe, #010101);
    padding: 2px;
    box-shadow: 0 10px 10px #010101;
    position: relative;
    overflow: hidden;
}

.info-5 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-top: 17px;
    padding-left: 21px;
    background-color: #f26522;
    width: 290px;
    height: 47px;
    top: 139px;
    margin-top: 139px;
    position: absolute;
    transition: 1s;
    opacity: 0;
}

.container-5:hover .info-5 {
    display: block;
    opacity: 1;
    top: 0;
}

.container-5:hover p {
    color: #f26522;
}

.container-6 {
    float: left;
    width: 307px;
    margin-left: 69px;
    margin-top: 40px;
 }

.sixth-picture {
    width: 307px;
    height: 200px;
    background: linear-gradient(to bottom, #fefefe, #010101);
    padding: 2px;
    box-shadow: 0 10px 10px #010101;
    position: relative;
    overflow: hidden;
}

.info-6 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-top: 17px;
    padding-left: 21px;
    background-color: #f26522;
    width: 290px;
    height: 47px;
    top: 139px;
    left: 0;
    margin-top: 139px;
    position: absolute;
    transition: 1s;
    opacity: 0;
}

.container-6:hover .info-6 {
    display:block;
    opacity: 1;
    top: 0;
}

.container-6:hover p {
    color: #f26522;
}

.copyright {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    float: left;
    margin-top: 40px;
    width: 100%;
}